.chart {
  width: 100%;
  padding: 1rem 0;
  .statics-cont {
    display: flex;
    justify-content: space-around;
    width: 100%;
    // gap: 2rem;
    .static{
      display: flex;
      align-items: center;
      background: linear-gradient(90deg, #ddd1b8 0%, #958271be 100%);
      padding: 8px;
      border-radius: 12px;
      gap: 20px;
      min-width: max-content;
      svg{
        font-size: 28px;
        color: #6b5746;
      }
      h1{
        display: flex;
        align-items: center;
        font-size: 28px;
        color: #522f00;
      }
      span{
        font-size: 15px;
        font-weight: 700;
        color: #00000082;
      }
    }
  }
}