// .pagination {
//   display: flex;
//   justify-content: center;
//   padding: 10px 0;
//   .page-item {
//     margin: 0 5px;
//     &.active .page-link {
//       background-color:  var(--primary-color);
//       color: white;
//       border: 1px solid  var(--primary-color);
//     }
//     .page-link {
//       display: block;
//       padding: 8px 16px;
//       border: 1px solid #ddd;
//       border-radius: 4px;
//       color: #333;
//       cursor: pointer;
//       text-decoration: none;
//       &:hover {
//         background-color: #f2f2f2;
//       }
//     }
//   }
// }
main.table_page{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .container {
    // margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .table-header {
      display: flex;
      gap: 20px;
      align-items: center;
      .table-btn {
        border:1px solid var(--primary-color);
        background-color: transparent;
        color: #333;
        padding: 6px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s;
        &:hover {
          background-color: var(--primary-color);
          color: white;
        }
      }
      input {
        padding: 6px 20px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        outline-color: var(--primary-color);
      }
      .ant-select{
        height: 100%;
        .ant-select-selector{
          padding: 6px 11px !important;
        }
      }
    }
    .table-wrapper{
      overflow-x: auto;
      max-height: 500px;
      margin-top: 20px;
      table {
        width: 100%;
        border-collapse: collapse;
        th {
          position: sticky;
          top: 0;
          background-color:  var(--primary-color);
          color: white;
          padding: 10px;
          // min-width:140px;
          z-index: 3;
          white-space: nowrap;
          &:last-child{
            position: sticky;
            left: 0;
          }
        }
        td {
          min-width:max-content;
          padding: 12px;
          white-space: nowrap;
          text-align: center;
          border-bottom: 1px solid #ddd;
          z-index: 1;
          &:last-child{
            z-index: 2;
            position: sticky;
            left: 0;
            background-color: white;
          }
          .order-link {
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          .state-span{
            border-radius: 8px;
            color: #fff;
            padding: 2px 15px;
            &.done{
              background-color: #2dd06b;
            }
            &.still{
              background-color: #2d77d0;
            }
          }
          .table-btn-ok {
            border:1px solid var(--primary-color);
            color: #333;
            background-color:#abcfac;
            margin-inline-end:.25rem;
            padding: 4px 16px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s;
            &:hover {
              background-color: #4caf50;
              color: white;
            }
          }
          .table-btn-cancel {
            border:1px solid var(--primary-color);
            color: #333;
            background-color:#cfabab;
            padding: 4px 16px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s;
            &:hover {
              background-color: #dd0000;
              color: white;
            }
          }
          .table-input {
            width: 100%;
            padding: .25rem .5rem;
          }
        }
        // tr:nth-child(even) {
        //   background-color: #f2f2f2;
        // }
        tr:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}