@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
section.sidenav {
  width: 256px;
  position: sticky;
  top: 0;
  left: 0;
  border-left: 1px solid var(--third-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: transparent;
  padding: 3rem 0;
}
section.sidenav ul.ant-menu-root {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
section.sidenav ul.ant-menu-root svg {
  background-color: transparent;
  border-radius: 12px;
  padding: 0.5rem;
  width: 35px;
  height: 35px;
}
section.sidenav ul.ant-menu-root .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--primary-color);
  font-weight: bold;
}
section.sidenav ul.ant-menu-root .ant-menu-submenu-selected > .ant-menu-submenu-title svg {
  background-color: var(--primary-color);
  color: #fff;
}
section.sidenav ul.ant-menu-root .ant-menu-item-only-child {
  padding-right: 48px;
  padding-left: 0;
}
section.sidenav ul.ant-menu-root .ant-menu-item-selected {
  color: var(--primary-color);
  font-weight: bold;
}
section.sidenav ul.ant-menu-root .ant-menu-item-selected {
  background-color: transparent;
}
section.sidenav ul.ant-menu-root .ant-menu-item-selected svg {
  background-color: var(--primary-color);
  color: var(--forth-color);
}
section.sidenav .logo-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.sidenav .logo-holder img {
  width: 200px;
}
section.sidenav .logo-holder span {
  font-size: 14px;
  font-weight: bold;
  color: var(--forth-color);
}

main.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
}
main.login .form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-color);
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  border-radius: 15px;
  gap: 3rem;
  min-width: 500px;
  box-shadow: 0px 0px 0px 17px rgba(0, 0, 0, 0.1019607843);
}
main.login .form-cont h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  color: var(--primary-color);
}
main.login .form-cont form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
}
main.login .form-cont form input, main.login .form-cont form button {
  background-color: rgba(0, 0, 0, 0.1019607843);
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  padding: 14px;
  width: 100%;
}
main.login .form-cont form button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}
main.login .form-cont form button:hover {
  background-color: var(--primary-color);
  color: #eee;
}
main.login .form-cont form button svg {
  transform: rotate(-180deg);
}

main.home {
  display: flex;
}
main.home .content {
  width: calc(100% - 256px);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
main.home .content .data-view {
  width: 100%;
}

main.table_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main.table_page .container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main.table_page .container .table-header {
  display: flex;
  gap: 20px;
  align-items: center;
}
main.table_page .container .table-header .table-btn {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: #333;
  padding: 6px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}
main.table_page .container .table-header .table-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
main.table_page .container .table-header input {
  padding: 6px 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  outline-color: var(--primary-color);
}
main.table_page .container .table-wrapper {
  overflow-x: auto;
  max-height: 500px;
  margin-top: 20px;
}
main.table_page .container .table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
main.table_page .container .table-wrapper table th {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  z-index: 3;
}
main.table_page .container .table-wrapper table th:last-child {
  position: sticky;
  left: 0;
}
main.table_page .container .table-wrapper table td {
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}
main.table_page .container .table-wrapper table td:last-child {
  z-index: 2;
  position: sticky;
  left: 0;
  background-color: white;
}
main.table_page .container .table-wrapper table td .state-span {
  border-radius: 8px;
  color: #fff;
  padding: 2px 15px;
}
main.table_page .container .table-wrapper table td .state-span.done {
  background-color: #2dd06b;
}
main.table_page .container .table-wrapper table td .state-span.still {
  background-color: #2d77d0;
}
main.table_page .container .table-wrapper table tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination .page-item {
  margin: 0 5px;
  list-style: none;
}
.pagination .page-item.active .page-link {
  background-color: #333;
  color: #fff;
}
.pagination .page-item .page-link {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.pagination .page-item .page-link:hover {
  background-color: #333;
  color: #fff;
}

.chart {
  width: 100%;
  padding: 1rem 0;
}
.chart .statics-cont {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.chart .statics-cont .static {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #ddd1b8 0%, rgba(149, 130, 113, 0.7450980392) 100%);
  padding: 15px;
  border-radius: 12px;
  gap: 20px;
  min-width: 250px;
}
.chart .statics-cont .static svg {
  font-size: 56px;
  color: var(--primary-color);
}
.chart .statics-cont .static h1 {
  display: flex;
  align-items: center;
  font-size: 36px;
}
.chart .statics-cont .static h1 svg {
  font-size: 25px;
}
.chart .statics-cont .static span {
  font-size: 14px;
}

main.popup {
  background-color: rgba(0, 0, 0, 0.3294117647);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  z-index: 1000;
}
main.popup.active {
  display: flex;
}
main.popup .popup_inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 650px;
}
main.popup .popup_inner form.change-pass {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main.popup .popup_inner form.change-pass input, main.popup .popup_inner form.change-pass select, main.popup .popup_inner form.change-pass textarea {
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ddd;
  width: 100%;
}
main.popup .popup_inner .btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
main.popup .popup_inner .btns .rate-btn {
  background-color: #007bff;
}
main.popup .popup_inner .btns .rate-btn:hover {
  background-color: #0057b3;
}
main.popup .popup_inner .btns .close-btn {
  background-color: #d40000;
}
main.popup .popup_inner .btns .close-btn:hover {
  background-color: #990000;
}
main.popup .popup_inner .btns button {
  color: #fff;
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 14px;
  min-width: 140px;
  cursor: pointer;
  align-self: center;
  transition: 0.3s;
}
main.popup .popup_inner .review-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main.popup .popup_inner .review-us .stars {
  display: flex;
  gap: 5px;
}
main.popup .popup_inner .review-us textarea {
  background-color: #eee;
  padding: 8px;
  outline: none;
  border-radius: 8px;
}
main.popup .popup_inner h2 {
  font-size: 28px;
  font-weight: bold;
  color: var(--text-color);
}
main.popup .popup_inner .wrapper {
  background-color: #eee;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}
main.popup .popup_inner .wrapper span {
  display: block;
  line-height: 1.5;
  font-size: 22px;
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  padding: 10px;
}
@media (max-width: 780px) {
  main.popup .popup_inner {
    max-width: 360px;
  }
  main.popup .popup_inner button {
    width: 100px;
    font-size: 16px;
  }
  main.popup .popup_inner h2 {
    font-size: 20px;
  }
  main.popup .popup_inner .wrapper span {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", serif;
}

:root {
  --primary-color: #8a725d;
  --body-color: #fffdf7;
  --third-color: #c2baa6;
  --forth-color: #353535;
}

body {
  overflow-x: hidden;
  background-color: var(--body-color);
  direction: rtl;
}

::-webkit-progress-bar {
  background-color: #000000;
}

::-webkit-progress-value {
  background-color: #8a725d;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #8a725d;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #eceae6;
}/*# sourceMappingURL=index.css.map */